Pillow==10.3.0
certifi==2019.6.16
chardet==3.0.4
Flask==2.3.0
gunicorn==19.9.0
idna==2.8
MarkupSafe==2.1.1
requests==2.22.0
sendgrid==1.2.0
six==1.8.0
smtpapi==0.1.2
unittest2==0.8.0
unittest2py3k==0.5.1
urllib3==1.25.3
flask-resize
