{% extends "layout.html" %}
{% block body %}
<script src="https://www.paypal.com/sdk/js?client-id=Ae4YDp1BcCpDYnFZSvZzgEjiTQPMUSxVxEkPFFELIiFY9SHlR-WEsN-szQQunxA5DiDjVGh_1STCaGz7&currency=GBP"></script>

        <div class="container">
            <br></br>
            <br></br>

                <h1 style="font-size: xx-large; font-weight: bolder; text-align: center;">Checkout for 6 Hole Package - £35</h1>
                <p style="text-align: center;">On Successful completion of payment, you will then be asked to submit your name, University Email and Society (if applicable).</p>
                <p style="text-align: center;">A confirmation email of your purchase will follow.</p>
        </div>


        <div class="container">
                <form id="checkout-form" style="border: 5px black solid; padding: 3%;">
                    <div class="quantity">
                        <table style="margin-top: 2%; max-width: 100%; " >
                            <tr>
                                    <th>
                                            <input type="hidden" name="quantity" value="quantity">
                                            <label for="quantity">Quantity</label>
                                    </th>
                                    <td>
                                        <select name="quantity" id="quantity">
                                            {%  for quan in quantity %}
                                                    <option value="{{ quan }}">{{ quan }} </option>
                                            {% endfor %}
                                    </select>
                                    </td>
                            </tr>
                            </table>
                    </div>
                    

                        <div class="form-check" style="padding-bottom: 4%;">
                            <input class="form-check-input" type="checkbox" value="" id="check" >
                            <label class="form-check-label" for="flexCheckDefault" >
                            Must Accept <a href="#" onClick="MyWindow=window.open('/termsandconditions','MyWindow','width=600,height=300');">Terms and Conditions</a>
                            </label>
                        </div>
                    


<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>
<script>
    paypal.Buttons({

        onInit: function(data, actions) {
      // Disable the buttons
      actions.disable();
      // Listen for changes to the checkbox
      document.querySelector('#check')
        .addEventListener('change', function(event) {
          // Enable or disable the button when it is checked or unchecked
          if (event.target.checked) {
            actions.enable();
          } else {
            actions.disable();
          }
        });
    },
    
    createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '1' // Can also reference a variable or function
                    }
                }]
            });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
            return fetch(`/payments/${data.orderID}/capture`, {
                method: "post",
            })
                .then((response) => response.json())
                .then((orderData) => {
                    // Successful capture! For dev/demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    const transaction = orderData.purchase_units[0].payments.captures[0];
                    // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                    // When ready to go live, remove the alert and show a success message within this page. For example:
                    window.location.href = '/form';
                    const element = document.getElementById('paypal-button-container');
                    element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    
                });
        }
    }).render('#paypal-button-container');
</script>
                    
                </form>
            </div>
        </div>
{% endblock %}