{% extends "layout.html" %}
{% block body %}
<div class="section banner">

			<div class="wrapper">

				<img class="hero" src="{{ url_for("static", filename="map.png") }}">
	
			</div>

		</div>
		<br></br>
<div class="container" style="border: 5px solid black"  >
	<div class="row">
		<div class="col-sm-6" style="text-align: center; font-weight: bolder; font-size: 3vw;">7:00pm</div>
		<div class="col-sm-6" style="text-align: center; font-weight: bolder; font-size: 3vw;">17th April 2024</div>
	</div>
</div>
<br></br>

<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<img src="static/pub_golf_main.jpg" style="max-width: 100%;">
		</div>
		<div class="col-sm-5">
			<div class="checkout-details">

				<h1><span class="price" style="font-weight: bold;">£40 </span>8 Hole Package</h1>

				<form target="checkout" name="checkout" action="/checkout" method="get" target="_top">

						<table>
						<tr>
								<th>
										<input type="hidden" name="quantity" value="quantity">
										<label for="quantity">Quantity</label>
								</th>
								<td>
										<select name="quantity" id="quantity">
												{%  for quan in quantity %}
														<option value="{{ quan }}">{{ quan }} </option>
												{% endfor %}
										</select>
								</td>
						</tr>
						
						</table>
							<div class="form-check" style="margin-top: 2%;">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									Must Accept <a href="#" onClick="MyWindow=window.open('/termsandconditions','MyWindow','width=600,height=300');">Terms and Conditions</a>
								</label>
							</div>

						<input type="submit" value="Checkout" name="submit" style="margin-top: 2%;">
				</form>

				<p class="note-designer">Standard Package - 8 Holes, 8 Drinks. All at a discounted Price.</p>

		</div>
		</div>
	</div>
</div>

<div class="container">
	<h1 style="text-align: center;">Pubs Diagram</h1>
</div>
<br></br>

<div class="container">
	<h1 style="text-align: center;">Google Maps</h1>
	<div class="row">
		<div col-sm-12>
			
		</div>
	</div>
</div>
<br></br>

		<div class="section shirts latest">

			<div class="wrapper">


				<ul class="products">
                    	{{ product_data }}
				</ul>



			</div>

		</div>
		<script>
			$('#check').click(function(){
						if($(this).prop('checked') == true){
							 $('input[type="submit"]').prop('disabled', false);
						}else{
								 $('input[type="submit"]').prop('disabled', true);
					}
			 });
			</script>
{% endblock %}